.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/how_to_reg-24px.svg');
    background-size: cover;
    background-color: green;
  }
  .check-image {
    background-color: green;
    height: 300px;
    width: 400px;
    align-items: center;
  }