<section id="register" class="register">
    <div class="container">
  
      <div class="section-title m-5" data-aos="fade-up">
        <p class="text-white">Register to get started</p>
      </div>
  
      <div class="row">
  
        <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
  
        </div>
  
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <form [formGroup]="registrationForm" (ngSubmit)="saveUser(registrationForm.value)" role="form"
            class="php-email-form">
            <div *ngIf="success" class="alert alert-success" role="alert">
              Registration Successful
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
              <strong>Failed to sign up!</strong> {{error}}
            </div>
            <div class="form-group">
              <label for="firstName">Firstname</label>
              <input formControlName="firstName" type="text" class="form-control" name="firstName"
              [class.is-invalid]="firstName.invalid && firstName.touched"/>
              <div *ngIf="firstName.invalid && email.touched">
                <small *ngIf="firstName.errors?.required" class="text-danger">Firstname is required</small>
                <small *ngIf="firstName.errors?.firstName" class="text-danger">Please enter a valid name</small>
              </div>
            </div>
            <div class="form-group">
              <label for="firstName">Lastname</label>
              <input formControlName="lastName" type="text" class="form-control" name="lastName"
              [class.is-invalid]="lastName.invalid && lastName.touched"/>
              <div *ngIf="lastName.invalid && email.touched">
                <small *ngIf="lastName.errors?.required" class="text-danger">Lastname is required</small>
                <small *ngIf="lastName.errors?.lastName" class="text-danger">Please enter a valid name</small>
              </div>
            </div>
            <div class="form-group">
              <label for="firstName">Identity Number</label>
              <input formControlName="identityNumber" type="number" class="form-control" name="identityNumber"
              [class.is-invalid]="identityNumber.invalid && identityNumber.touched"/>
              <div *ngIf="identityNumber.invalid && identityNumber.touched">
                <small *ngIf="identityNumber.errors?.required" class="text-danger">Identity is required</small>
                <small *ngIf="identityNumber.errors?.identityNumber" class="text-danger">Please enter a valid name</small>
              </div>
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">+267</span>
                  </div>
                  <input class="form-control"
                         formControlName="mobilePhoneNumber" 
                         id="mobilePhoneNumber" name="mobilePhoneNumber"
                         type="tel">
              </div>
              <div class="form-group">
                  <small
                      *ngIf="mobilePhoneNumber.invalid && (mobilePhoneNumber.dirty || mobilePhoneNumber.touched)"
                      class="text-danger">
                      <span *ngIf="mobilePhoneNumber.errors.required">
                          Please enter your phone number
                      </span>
                      <span
                          *ngIf="mobilePhoneNumber.errors && !mobilePhoneNumber.errors.required">
                          Please enter your valid phone number
                      </span>
                  </small>
              </div>
          </div>
  
            <div class="form-group">
              <label for="email">Email</label>
              <input formControlName="email" type="email" class="form-control" name="email"
                [class.is-invalid]="email.invalid && email.touched" />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                <small *ngIf="email.errors?.email" class="text-danger">Please enter a valid email</small>
              </div>
  
              <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" name="password"
                  [class.is-invalid]="password.invalid && password.touched" />
                <div *ngIf="password.invalid && password.touched">
                  <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
                  <small *ngIf="password.errors?.pattern" class="text-danger">Password must have one uppercase and
                    lowercase letter, as well as a
                    digit and special character</small>
                  <small *ngIf="password.errors?.minlength" class="text-danger">Password must be at least 8
                    characters</small>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" name="confirmPassword"
                  [class.is-invalid]="registrationForm.errors?.misMatch" />
                <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Passwords do not match</small>
              </div>
              <hr />
              <p>
                By creating an account you agree to our <a href="#">Terms & Privacy</a>.
              </p>
  
              <button type="submit" class="btn btn-primary float-right">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register</button>
            </div>
  
            <div class="signin">
              <p>Already have an account? <a [routerLink]="'/user/signin'">Sign in</a>.</p>
            </div>
          </form>
        </div>
        <!-- <app-login *ngIf="false" class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200" ></app-login> -->
  
      </div>
  
    </div>
  </section>
