@import '~bootstrap';

// .links {
//     float: right;
//     margin: 0 auto;
// }
.text{
    background-image: url("../assets/images/undraw_environment_iaus.svg");
    background-size: contain, cover;
    background-repeat: no-repeat;
}
