.fakeimg {
  height: 200px;
   background: #aaa;
  
}
.wallet {
  background-image: url("../../assets/images/undraw_team_work_k80m.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.manage {
  background-image: url("../../assets/images/undraw_fill_forms_yltj.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
}
.report {
  background-image: url("../../assets/images/undraw_data_reports_706v.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
}
