
  <div class="container text-white" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>Do you want to build wealth?</h2>
        <h5>A stokvel is your best bet!</h5>
        <div class="fakeimg wallet mb-3"></div>
        <p>Create a group called <strong>STOKVEL</strong>, which is a savings or investment society. </p>
        <h3>What do you need to get started?</h3>
        <ol>
          <li>KYC Documents</li>
          <li>Contractual agreement between you and trusted friends or family which includes all terms and conditions to the stokvel</li>
          <li>Create a Wallet with us</li>
          <li>Select a manager for your Stokvel</li>
          <li>We will assist with the book keeping</li>
        </ol>
        <!-- Add a carousel here -->
        <ul class="nav nav-pills flex-column text-white">
          <li class="nav-item">
            <p class="nav-link tex-white" href="#"></p>
          </li>
          <li class="nav-item">
            <p class="nav-link" href="#"></p>
          </li>
          <li class="nav-item">
            <p class="nav-link" href="#"></p>
          </li>
          <li class="nav-item">
            <p class="nav-link" href="#"></p>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>Get started by Registering the Stokvel</h2>
        <h5>Ready to make that chankura?</h5>
        <div class="fakeimg manage mb-3"></div>
        <p>Fill in our super easy forms</p>
        <h3>What do we require of your Stokvel?</h3>
        <ol>
          <li>All parties to the stokvel to be registered with us</li>
          <li>The manager/ stokvel treasure add the members to the respective stokvel</li>
          <li>Enjoy building wealth in a transparent, trustful way with friends and/or family</li>
        </ol>
        <br>
        <h2>What do we provide?</h2>
        <h5></h5>
        <div class="fakeimg report mb-3"></div>
        <p>Sika provides the following:</p>
        <ol>
          <li>A book keeping system to monitor all transactions</li>
          <li>Every member of your registered stovkel will be able to view all the reports of the stokvel to which she/he belongs</li>
          <li>Transactions can be made in-app or out of app and still be reconsiled</li>
          <li>Members can communicate with each other within the app</li>
          <li>Template for contractual agreements</li>
        </ol>
      </div>
    </div>
  </div>
  
